{
  "extends": "eslint:recommended",
  "env": {
    "es6"     : true,
    "browser" : true,
    "node"    : true,
    "jquery"  : true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread" : true
    }
  },
  "rules" : {
    "no-eq-null" : "off"
  },
  "globals" : {
    "Highcharts"     : false,
    "angular"        : false,
    "moment"         : false,
    "numeral"        : false,
    "_"              : false,
    "__filename"     : false,
    "__dirname"      : false,
    "jasmine"        : false
  }
}